.cabecalho__navegacao__lista__item__link {
    color: #808080;
    text-decoration: none;
    text-transform: lowercase;
    white-space: nowrap;
}

.cabecalho__navegacao__lista__item__link:hover{
    text-decoration: underline;
}

.link-ativo{
    color: #333333;
    font-weight: bold;
}